<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dm.admin.mapper.WechatorderMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.dm.admin.entity.Wechatorder">
		<id column="id" property="id" />
		<result column="nonce" property="nonce" />
		<result column="uid" property="uid" />
		<result column="create_date" property="create_date" />
		<result column="pay_date" property="pay_date" />
		<result column="status" property="status" />
	</resultMap>
</mapper>
